@using Microsoft.AspNetCore.Identity
@using System.Globalization
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model LP2MVCWithAuth.Models.ListaTarefas
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @if (SignInManager.IsSignedIn(User))
    {
        <h2>
            <a asp-controller="Tarefas" asp-action="Add">Criar nova tarefa</a>
        </h2>
        <br />
        <h2>
            <a asp-controller="Tarefas" asp-action="Index">Minhas tarefas</a>
        </h2>


        <br />
        <br />
        <br />
    }
    else
    {
        <div>
            <h2>
                Faça Login Para ter acesso ao site
            </h2>
        </div>
    }
</div>

